@import "../../../../style/root.css";

.content {
    background-color: var(--blockColor);
    
}
.block {
    height: 93%;
    background-color: #fff;
}
.content__input {
    display: flex;
    justify-content: center;
    background-color: #000;
}
.content__input input{
    width: 100%;
    height: 25px;
    background-color: rgb(31, 31, 31);
}